<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<!--com.omerenlicay.spring paketi ile ilgili
	 <bean id="yakıt" name="yakıt"
		class="com.omerenlicay.spring.Yakıt">
	</bean>
	<bean id="araba" class="com.omerenlicay.spring.Araba">
		<constructor-arg ref="yakıt"></constructor-arg>
	</bean> 
	-->
	<!-- Bu kod interface ile ilgili -->
	
	<bean id="yakıt" name="yakıt"
		class="com.omerenlicay.springinterface.Elektrik">
	</bean>
	<bean id="araba" class="com.omerenlicay.springinterface.Araba">
		<constructor-arg ref="yakıt"></constructor-arg>
	</bean> 
	
</beans>
